<% include layout/header.ejs %>

  <div class="main">
    <div class="container">
      <div class="content">
        <div class="pageHeader row">
          <div class="col-md-12">
            <div class="page-title">
              <% if (visit.isfirst) { %>
                <h3>Первичный приём <span class="badge badge-primary"><%= patient.lastname %> <%= patient.firstname %> <%= patient.middlename %></span></h3>
              <% } else { %>
                <h3>Повторный приём <span class="badge badge-primary"><%= patient.lastname %> <%= patient.firstname %> <%= patient.middlename %></span></h3>
              <% } %>
              
            </div>
            <div class="back-link">
              <a href="/visit" >Назад</a>
            </div>
            <div class="visit-time">
              Начало: <%= ('0' + new Date(Date.parse(visit.start_dttm)).getHours()).slice(-2); %>:<%= ('0' + new Date(Date.parse(visit.start_dttm)).getMinutes()).slice(-2); %>
              <% if (new Date(Date.parse(visit.end_dttm)).getFullYear() != 5999) { %>
              Конец: <%= new Date(Date.parse(visit.end_dttm)).getHours(); %>:<%= new Date(Date.parse(visit.end_dttm)).getMinutes(); %>
              <% } %>
            </div>
            <% if (new Date(Date.parse(visit.end_dttm)).getFullYear() == 5999) { %>
            <div class="delete-visit-btn-block">
              <button class="btn btn-danger" id="delete-visit-btn" data-visit-id="<%= visit.id %>">Отменить приём</button>
            </div>
            <% } %>
          </div>
        </div>
        <div class="main-content row">
          <nav class="col-md-3 sidebar sidebar-left">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item active" data-section="complaint">
                  <span class="nav-link" >Жалобы и анамнез заболевания</span>
                </li>
                <li class="nav-item" data-section="review" >
                  <span class="nav-link" >Осмотр</span>
                </li>
                <li class="nav-item" data-section="diagnosis" >
                  <span class="nav-link" >Диагноз</span>
                </li>
                <li class="nav-item" data-section="prescriptions" >
                  <span class="nav-link" >Назначения</span>
                </li>
                <% if (new Date(Date.parse(visit.end_dttm)).getFullYear() == 5999) { %>
                <li class="nav-btn">
                  <button class="btn btn-danger" id="finish-visit-btn" data-visit-id="<%= visit.id %>">Завершить приём</button>
                </li>
                <% } %>
              </ul>
            </div>
          </nav>
          <div class="visit-content col-md-6">
            <div id="complaint" class="visit-section active">
              <% include visit/complaint.ejs %>
            </div>
            <div id="review" class="visit-section">
              <% include visit/review.ejs %>
            </div>
            <div id="diagnosis" class="visit-section">
              <% include visit/diagnosis.ejs %>
            </div>
            <div id="prescriptions" class="visit-section">
              <% include visit/prescriptions.ejs %>
            </div>
            <!--<%= visit.id %> </br>
            <%= specialist.lastname %> <%= specialist.firstname %>-->
          </div>
          <nav class="col-md-3 sidebar sidebar-right">
            <div class="sidebar-sticky" id="review-sidebar">
              <% include visit/overview-sidebar.ejs %>
            </div>
            <div class="sidebar-sticky" id="diagnosis-sidebar" hidden>
              <% include visit/diagnosis-sidebar.ejs %>
            </div>
            <div class="sidebar-sticky" id="prescriptions-sidebar" hidden>
              <% include visit/prescriptions-sidebar.ejs %>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
  <script src="js/visit.js" ></script>
  <script src="js/formGroups.js" ></script>
  <script src="js/particularVisit.js"></script>
</body>

</html>