<% include layout/header.ejs %>

  <div class="main">
    <div class="container">
      <div class="content">
        <div class="visitHeader">
          <div class="col-md-10">
            <% if (visit.isFirst == true) { %>
              <h3>Первичный приём <span class="badge badge-primary"><%= patient.lastname %> <%= patient.firstname %> <%= patient.middlename %></span></h3>
            <% } else { %>
              <h3>Повторный приём <span class="badge badge-primary"><%= patient.lastname %> <%= patient.firstname %> <%= patient.middlename %></span></h3>
            <% } %>
          </div>
          <div class="col-md-2">
            <a href="/visit" class="btn btn-link" >Назад</a>
          </div>
          <div class="col-md-12">
            Время начала: <%= new Date(Date.parse(visit.start_dttm)).getHours(); %>:<%= new Date(Date.parse(visit.start_dttm)).getMinutes(); %> </br>
            <%= visit.id %> </br>
            <%= specialist.lastname %> <%= specialist.firstname %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="/js/visit.js" ></script>
<% include layout/footer.ejs %>